body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    Background: url(GreenBackground.png)
    
}
header {
    Background: url('Hyderabad.jpeg') no-repeat top right 25%;
    background-size: 150px;
    
}
.Mylist {
    list-style-image: url('UntitledH.png');

}
.other {
    background-image: url(GreenBackground.png);
    background-repeat: repeat;
    
}
nav a{
    color: deeppink;
}
.Hyderabad h1{
    color: blueviolet;

}
.Mylist li {
    color: red;
}

