body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header,footer{
    background: #62255c;
    color: rgb(68, 247, 250);
    padding: 15px;
    text-align: center;
}
nav{
    background: #ccc ;
    padding: 10px;
}
nav a{
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}
.container{
    display: flex;
    gap: 15px;
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
caption{
    margin-bottom: 8px;
    font-weight: bold;
}
th{
    background: #a6c315;
    color: #155102;
    padding: 8px;
}
td{
    padding: 8px;
    border: 1px solid #8954cfb9;
}
tr:nth-child(even) {
    background: #f6e481a3;
}