body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e6adad;
    margin: 20px;
}
h1 {
    text-align: center;
    color: rgb(120, 11, 11);
}
.title-row{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
}
.title-img{
    width: 110px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
}
.title-row h1{
    font-size: 32px;
    color: #5a0000;
    margin: 0;
}
#nav-toggle{
    display: none;
}
 nav{ 
    background-color: rgb(190, 206, 200);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(236, 238, 252, 0.5);
    text-align: left;
}
nav a{
    margin: 10px;
    text-decoration: none;
    color: #031f7a;
    font-weight: bold;
}
nav a.active{
    color: red;
}
.card{
    background: rgb(190, 206,200);
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(236, 238, 252, 0.5);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td{
    border: 1px solid #3118ea;
    padding: 8px;
}
th{
    background: #aab0c4;
}
nav ul{
    list-style-type: disc;
    padding-left: 20px;
}
nav li{
    display: list-item;
    align-items: center;
}

form{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea {
    padding: 8px;
    border: 1px solid #3118ea;
    border-radius: 5px;
}
.place-img{
    width: 100%;
    max-width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.modern-gallery{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px 0;
}
button {
    padding: 10px;
    border: none;
    background: #031f7a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    color: #031f7a;
    font-size: 14px;
}
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    nav a {
        padding: 10px 0;
    }
}