body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e6adad;
    margin: 20px;
}
h1 {
    text-align: center;
    color: rgb(120, 11, 11);
}
.card{
    background-color: rgb(190, 206, 200);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(236, 238, 252, 0.5);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td{
    border: 1px solid #3118ea;
    padding: 8px;
}
th{
    background: #aab0c4;
}
ul{
    margin: 0;
    padding-left: 20px;
}
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    color: #031f7a;
    font-size: 14px;
}