<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahubali: The Beginning</title>
    <link rel="stylesheet" href="PageLayout.css" >
</head>
<body>
    <header class="Site-header">
        <div class="Container">
     <h1> Bahubali: The Beginning</h1>
     <nav>
        <ul>
            <li><a href="#"> Overview</a> </li>
            <li><a href="#"> Cast</a></li>
            <li><a href="#"> Behind the Scenes</a></li>
        </ul>
     </nav>
     </div>
    </header>
    <div class="Container">
    <main>
        <figure class="Content">
            <img src="Bahubali.jpg" alt="Bahubali The Beginning Official Poster">
            <figcaption> "Bahubali: The Beginning (2015) - Directed by S.S. Rajamouli." </figcaption>
        </figure>
        <h2> Epic Tale of Courage and Destiny </h2>
        <p> <strong> Bahubali:The Beginning</strong> is the first chapter of the grand Indian epicdirected by S.S.Rajamouli. Released in 2015, it introduced audiences to the magnificient kingdom of Mahismati and the extraordinary journey of Shiva, a young man unaware of his royal lineage. His climb up a towering waterfall becomes a powerful symbol of ambition and destiny.</p>
        <p> The film blends stunning visual effects, breathtaking battles, and heartfelt drama. Through characters like Amarendra Bahubali, Bhallaladeva, and Devasena, the movie explores themes of bravery, loyalty, and justice. It's sweeping cinematography and iconic soundtrack by M.M. Keeravani made it a landamrk in Indian cinema, setting the stage for the next chapter,<em> Bahubali 2:The Conclusion.</em></p>
    </main>
    <footer> Bahubali: The Beginning &copy;Sreehitha Cheeli 2025</footer>

   </div>    
</body>
</html>