body{
    font-family: Arial, Helvetica, sans-serif;
}
.schedule{
  
    border-spacing: 0;
    border-collapse: collapse;
   
}
.schedule thead tr {
    color: purple;
    background-color: rgb(243, 161, 54);
}
.schedule tfoot tr{
    background-color: rgb(243, 161, 54);
    color: white;
}
.schedule tbody tr:nth-child(odd) {
    background-color: rgb(138, 208, 238);
}

.num {
    vertical-align: middle;
}