<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Grid</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <header>
        <h1> Sreehitha's Web Design Site</h1>
    </header>
    <nav>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </nav>
    <main>
        <h1>CSS Grid</h1>
        <div class="parent">
          <p class="child"> I am child 1</p>
          <p class="child"> I am child 2</p>
          <p class="child"> I am child 3</p>
        </div>
        <main>
            <h1>ENGAGEMENT</h1>
            
            <P>1. Having one or more child elements inside the html is parent element. This relationshil is essential in flexbox and grid because the parent defines teh layout behavior while teh children responds to those layput rules.</P>
            <div class="Engage">
            <p class="Grid"> 2. Grid works in 2 dimensions. Grid allows precise placemnet using rows/ columns. </p>
            <p class="Flex"> Flex works in 1 demension. It focuses on distributing space and aligning items along one exists. </p>

        </div>
        </main>
    </main>
    <footer>
        &copy;Sreehitha Cheeli 2025
    </footer>
    
</body>
</html>