<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Grid</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <header>
        <h1> Sreehitha's Web Design Site</h1>
    </header>
    <nav>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </nav>
    <main>
        <h1>CSS Grid</h1>
        <div class="parent">
          <p class="child"> I am child 1</p>
          <p class="child"> I am child 2</p>
          <p class="child"> I am child 3</p>
        </div>
    </main>
    <footer>
        &copy;Sreehitha Cheeli 2025
    </footer>
    
</body>
</html>